{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        {% block head %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        {% endblock %}

</head>
<body>
        {% block tester %}

        <form class="login100-form validate-form flex-sb flex-w" method="POST" action="{% url 'signup' %}">
                {% csrf_token %}

                                        Username
                                        <input class="input100" type="text" name="username" >      
                                        email
                                                <input class="input100" type="text" name="email" >  
                                        
                                                {{ email_overlap }}
                                        Password
        
                                        <input class="input100" type="password" name="password" >
                                                Password_check
                                                <input class="input100" type="password" name="pwcheck" >

                                                nickname
                                                        <input class="input100" type="text" name="nickname" > 

                                                        phone
                                                        <input class="input100" type="text" name="phone" > 

                                              
                                                <button class="login100-form-btn">
                                                        Signup
                                                </button>

                        </form>


                        {% endblock %}

                        {% block recycle %}
                        {% endblock %}


                        {% block script %}
{% endblock %} 
</body>
</html>
 