{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% endblock %}
</head>
<body>
    {% block tester %}
    <div id="recycle">
		<div class="bar">
			<div class="filter">
				<span class="filter__label">Filter: </span>
				<button class="action filter__item filter__item--selected" data-filter="*" onclick="allButton();">All</button>
				<button class="action filter__item" data-filter=".jackets" onclick="jacketsButton();"><i
						class="icon icon--jacket"></i><span class="action__text">Jackets</span></button>
				<button class="action filter__item" data-filter=".shirts" onclick="shirtsButton();"><i
						class="icon icon--shirt"></i><span class="action__text">Shirts</span></button>
				<button class="action filter__item" data-filter=".dresses" onclick="dressesButton();"><i
						class="icon icon--dress"></i><span class="action__text">Dresses</span></button>
				<button class="action filter__item" data-filter=".trousers" onclick="trousersButton();"><i
						class="icon icon--trousers"></i><span class="action__text">Trousers</span></button>
				<button class="action filter__item" data-filter=".shoes" onclick="shoesButton();"><i
						class="icon icon--shoe"></i><span class="action__text">Shoes</span></button>
			</div>
			<button class="cart">
				<i class="cart__icon fa fa-shopping-cart"></i>
				<span class="text-hidden">Shopping cart</span>
				<span class="cart__count">0</span>
			</button>
		</div>
    {% endblock %}

    {% block content %}

        <h1>{{ goods.title }}</h1>
        <p>{{ goods.content }}</p>
        <img width="300px" height="300px"  src="{{ goods.image.url }}">
        <p>{{ goods.money }}</p>
        <button class="goods_click" style="background-color: #2A2B30; color: white;">결제하기</button>

    {% endblock %}

    {% block script %}

    <script src="http://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script src="http://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>

{% endblock %} 
</body>
</html>