{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	{% block header %}

	<form class="login100-form validate-form flex-sb flex-w" method="POST" action="{% url 'login' %}">
		{% csrf_token %}

		Username
		<input class="input100" type="text" name="username" >  
		Password
		<input class="input100" type="password" name="password" >

			<a href="{% url 'signup' %}" class="txt3">
				회원가입
			</a>

		<button class="login100-form-btn">
			Login
		</button>
</form>
{% endblock %}

</body>
</html>
